# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

env:
  projectName: CurateCoders.CloudFlarePro
  projectConfiguration: Release

on:
  push:
    branches: [ "release/*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: bhowell2/github-substring-action@1.0.2
      id: version
      with:
        value: ${{ github.ref_name }}
        index_of_str: "release/"
    - uses: actions/checkout@v3
      id: build
    - name: Setup .NET
      uses: actions/setup-dotnet@v3 
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: | 
        dotnet build --no-restore \
          -c ${{ env.projectConfiguration }} \
          -p:Version=${{ steps.version.outputs.substring }} \
          -o ./
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish package
      run: dotnet nuget push "*.nupkg" -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
